body {
  margin:0;
  font-family: Arial, sans-serif;
  background:#0b0b0b;
  color:white;
}

.hero {
  padding:120px 20px;
  text-align:center;
  background:linear-gradient(black,#1a1a1a);
}

.btn {
  background:red;
  padding:12px 25px;
  color:white;
  text-decoration:none;
  border-radius:5px;
}

section {
  padding:60px 20px;
  text-align:center;
}

.grid {
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  gap:20px;
}

.gallery img {
  width:100%;
  border-radius:8px;
}

input, textarea {
  width:90%;
  padding:10px;
  margin:10px 0;
  border-radius:5px;
  border:none;
}

button {
  background:red;
  color:white;
  padding:12px;
  border:none;
  border-radius:5px;
}

footer {
  background:#111;
  padding:20px;
}
